body {
  background-color: black;
}

.dish {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: red;
}

h2,
h3 {
  color: red;
}

.text {
  font-size: 1.3rem;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid white;
  border-radius: 20px;
}

p {
  color: white;
}
