body {
  background-color: black;
}

.item {
  height: 300px;
  width: 350px;
  border: 2px solid white;
}
.dish,
.heading {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: white;
}

.text {
  font-size: 1.3rem;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid white;
}
