body {
  background-color: grey;
  padding: 30px;
  padding-top: 0;
}

.heading {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}

p {
  font-size: 1.3rem;
  color: white;
}

.dish img {
  height: 400px;
  width: 650px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50px;
  position: relative;
}

.dish-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.dish {
  flex: 1; /* Grow to occupy available space */
  margin-right: 20px; /* Add space between image and description */
}

.description-box {
  flex: 2; /* Grow to occupy more space than the image */
}

.description-box > p {
  text-align: justify;
}

.name {
  color: yellow;
  font-size: 2rem;
  font-style: italic;
}

hr {
  margin-top: 50px;
  border: 1px solid black;
}

footer {
  margin-left: 10px;
  margin-top: 30px;
}
